[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity IDE
GenericName=Text Editor
Comment=Experience liftoff
Exec=/usr/bin/antigravity-ide %F
Icon=antigravity
Terminal=false
StartupWMClass=antigravity-ide
Categories=Development;IDE;TextEditor;
Keywords=antigravity;ide;editor;code;vscode;
